.grid {
    display:        table;
    margin-left:    0px;
    margin-right:   0px;
    padding:        0px;
    border-spacing: 1px;

    border:         0px solid #000;
 }

.row {
    display:        table-row;
    vertical-align: top;
    text-align:     left;
 }

.col {
    display:        table-cell;
    vertical-align: top;
    text-align:     left;
}

